@model SmartDeviceMonitoring.Web.Models.SensorData

@{ 
    ViewData["Title"] = "Sensor Data Details";
}

<h1>Sensor Data Details</h1>

<div>
    <h4>SensorData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor!.SensorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sensor!.SensorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor!.Device!.DeviceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sensor!.Device!.DeviceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>